* {
    font-family: 'Shalimar';
}

body{
    background-image:url(Fantasy_background.jpg);
    background-size:100%;
    cursor:default
}
h1{
    text-align:center;
    color:black;
    text-shadow: -0.3vmin 0 white, 0 0.3vmin white, 0.3vmin 0 white, 0 -0.3vmin white;
    font-size: 12vmin;
    margin-bottom: 0;
}
h2{
    text-align:center;
    color:black;
    text-shadow: -0.3vmin 0 white, 0 0.3vmin white, 0.3vmin 0 white, 0 -0.3vmin white;
    font-size: 5vmin;
    margin-top: 0;
}
#newgame, #loadgame{
    color:rgb(85, 0, 0);
    text-shadow: -0.1vmin 0 rgb(139, 0, 0), 0 0.1vmin rgb(139, 0, 0), 0.1vmin 0 rgb(139, 0, 0), 0 -0.1vmin rgb(139, 0, 0);
    width:fit-content;
    margin:auto;
    font-weight: 1000;
    font-size: 7vmin;
    padding-bottom: 3vmin;
    padding-top: 3vmin;
    transition:scale 0.3s;
}
#newgame:hover, #loadgame:hover{
    scale:1.2;
    cursor:pointer;
}
#info{
    margin:auto;
    text-align:center;
}
#noaccount{
    width:max-content;
    margin:auto;
    text-align:center;
    color:black;
    text-shadow: -0.3vmin 0 white, 0 0.3vmin white, 0.3vmin 0 white, 0 -0.3vmin white;
    font-size: 3vmin;
}
#noaccount:hover{
    cursor:pointer;
    scale: 1.1;
}
input{
    margin-bottom: 5vh;
}
p {
    font-size: 3vmin;
}
.savefiles{
    background-color: rgb(211, 211, 211);
    width: 5vw;
    flex-grow: 1;
    margin:2vmin;
    opacity:80%;
    transition:scale 0.1s;
    border-radius:1vmin;
    text-align:center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size:10vmin;
    margin-top:10vh;
    border:1vmin solid rgb(27, 27, 27);
}
.savefiles:hover{
    scale:1.1;
    opacity:90%;
}
#savefiles{
    display:none;
    margin-left:30vw;;
    margin-right:30vw;
}
