@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes dialBox {
    0% {
        display: block;
        opacity: 1;
    }
    69% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes dialKi {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes fightXD {
    0% {
        transform: scale(0.4);
        opacity: 1;
        top: 0vw;
    }
    80% {
        transform: scale(1.2);
        opacity: 1;
        top: 20vw;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        top: 16vw;
    }
}
@keyframes whiteFadeIn {
    0% {
        display: block;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        display: block;
        opacity: 0;
    }
}
@keyframes sword1 {
    0% {
        transform: scale(0.8);
        opacity: 1;
        top: 4vw;
        left: 0vw;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        top: 14vw;
        left: 31vw;
    }
}
@keyframes sword2 {
    0% {
        transform: scale(0.8);
        opacity: 1;
        top: 4vw;
        left: 64vw;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        top: 14vw;
        left: 33vw;
    }
}

@keyframes fadeIn {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes Run {
    0% {
        left: 0vw;
        content: url("knight/Knight_1/Protect.png");
    }
    12% {
        left: 1vw;
        content: url("knight/Knight_1/Run1.png");
    }
    25% {
        left: 2vw;
        content: url("knight/Knight_1/Run2.png");
    }
    37% {
        left: 3vw;
        content: url("knight/Knight_1/Run3.png");
    }
    50% {
        left: 4vw;
        content: url("knight/Knight_1/Run4.png");
    }
    62% {
        left: 5vw;
        content: url("knight/Knight_1/Run5.png");
    }
    75% {
        left: 6vw;
        content: url("knight/Knight_1/Run6.png");
    }
    87% {
        left: 7vw;
        content: url("knight/Knight_1/Run7.png");
    }
    100% {
        left: 8vw;
        content: url("knight/Knight_1/Protect.png");
    }
}

@keyframes Attack {
    0% {
        left: 8vw;
        content: url("knight/Knight_1/Attack1.png");
    }
    12% {
        left: 9vw;
        content: url("knight/Knight_1/Attack2.png");
    }
    25% {
        left: 10vw;
        content: url("knight/Knight_1/Attack3.png");
    }
    37% {
        left: 11vw;
        content: url("knight/Knight_1/Attack4.png");
    }
    50% {
        left: 16vw;
        content: url("knight/Knight_1/Attack5.png");
    }
    62% {
        left: 10vw;
        content: url("knight/Knight_1/Attack3.png");
    }
    75% {
        left: 9vw;
        content: url("knight/Knight_1/Attack2.png");
    }
    87% {
        left: 8vw;
        content: url("knight/Knight_1/Attack1.png");
    }
    100% {
        left: 8vw;
        content: url("knight/Knight_1/Protect.png");
    }
}

@keyframes EnemyAttack {
    20% {
        left: 40vw;
    }
    40% {
        left: 38vw;
    }
    60% {
        left: 36vw;
    }
    80% {
        left: 38vw;
    }
    100% {
        left: 40vw;
    }
}

@keyframes Defend {
    20% {
        left: 8vw;
        content: url("knight/Knight_1/Def1.png");
    }
    40% {
        left: 6vw;
        content: url("knight/Knight_1/Def2.png");
    }
    60% {
        left: 4vw;
        content: url("knight/Knight_1/Def2.png");
    }
    80% {
        left: 6vw;
        content: url("knight/Knight_1/Def1.png");
    }
    100% {
        left: 8vw;
        content: url("knight/Knight_1/Protect.png");
    }
}

@keyframes Attack2 {
    0% {
        left: 8vw;
        content: url("knight/Knight_1/Attack1.png");
    }
    20% {
        left: 12vw;
        content: url("knight/Knight_1/Attack21.png");
    }
    40% {
        left: 18vw;
        content: url("knight/Knight_1/Attack22.png");
    }
    60% {
        left: 20vw;
        content: url("knight/Knight_1/Attack23.png");
    }
    80% {
        left: 12vw;
        content: url("knight/Knight_1/Attack24.png");
    }
    100% {
        left: 8vw;
        content: url("knight/Knight_1/Protect.png");
    }
}
@keyframes semmi {
    0% {
        left: 7vw;
    }
    100% {
        left: 8vw;
    }
}

